﻿@model AddGalleryImageModel

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="ProductId" value="@Model.Productid" />
    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" type="file" multiple="multiple" accept="image/*" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>

    <div class="from-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form> 