﻿@model FirstMVCAgain.UI.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    @if (Model != null && Model.Image.Length > 0)
    {
        <img style="width:40%; height:40%;" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
@if (Model != null)
{
    @foreach (var galleryImaeg in Model.GalleryImages)
    {
        @if (galleryImaeg.Image != null && galleryImaeg.Image.Length > 0)
        {
            <img style="width:150px; height:100px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(galleryImaeg.Image))" />
        }
    }
}

@{
    var galleryImageModel = new AddGalleryImageModel()
    {
        Productid = Model.Id
    };
}


<partial name="_GalleryimagesPartial" model="@galleryImageModel" />


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
