﻿@model ProductFilterModel

@{
    ViewData["Title"] = "Index";
}

<h1>Продукты</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" asp-action="Index" method="get">
            <input type="hidden" asp-for="PagingModel" value="@Model.PagingModel" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFrom" class="control-label"></label>
                <input asp-for="PriceFrom" class="form-control" value="@Model.PriceFrom" />
                <span asp-validation-for="PriceFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTo" class="control-label"></label>
                <input asp-for="PriceTo" class="form-control" value="@Model.PriceTo" />
                <span asp-validation-for="PriceTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="Model.BrandList">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.CategoryList">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>



<p>
    <a asp-controller="Product" asp-action="Create">Создать новый продукт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Наименование", "Index", "Product", new ProductFilterModel
           {
               Name = Model.Name,
               BrandId = Model.BrandId,
               CategoryId = Model.CategoryId,
               PriceFrom = Model.PriceFrom,
               PriceTo = Model.PriceTo,
               SortType = SortType.Name,
               SortDirection = Model.SortDirection == SortDirection.Asc ? SortDirection.Desc : SortDirection.Asc,
               Page = Model.Page
           })
            </th>
            <th>
                @Html.ActionLink("Цена", "Index", "Product", new ProductFilterModel
           {
               Name = Model.Name,
               BrandId = Model.BrandId,
               CategoryId = Model.CategoryId,
               PriceFrom = Model.PriceFrom,
               PriceTo = Model.PriceTo,
               SortType = SortType.Price,
               SortDirection = Model.SortDirection == SortDirection.Asc ? SortDirection.Desc : SortDirection.Asc,
               Page = Model.Page
           })
            </th>
            <th>
                @Html.ActionLink("Бренд", "Index", "Product", new ProductFilterModel
           {
               Name = Model.Name,
               BrandId = Model.BrandId,
               CategoryId = Model.CategoryId,
               PriceFrom = Model.PriceFrom,
               PriceTo = Model.PriceTo,
               SortType = SortType.Brand,
               SortDirection = Model.SortDirection == SortDirection.Asc ? SortDirection.Desc : SortDirection.Asc,
               Page = Model.Page
           })
            </th>
            <th>
                @Html.ActionLink("Категория", "Index", "Product", new ProductFilterModel
           {
               Name = Model.Name,
               BrandId = Model.BrandId,
               CategoryId = Model.CategoryId,
               PriceFrom = Model.PriceFrom,
               PriceTo = Model.PriceTo,
               SortType = SortType.Category,
               SortDirection = Model.SortDirection == SortDirection.Asc ? SortDirection.Desc : SortDirection.Asc,
               Page = Model.Page
           })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.BrandName
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a asp-action="Remove" asp-controller="Product" asp-route-id="@item.Id">Удалить</a>|
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Изменить</a>|
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Посмотреть</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PagingModel.HasPreviousPage)
{
        @Html.ActionLink("<<< Назад", "Index", "Product", new ProductFilterModel
    {
    Name = Model.Name,
    BrandId = Model.BrandId,
    CategoryId = Model.CategoryId,
    PriceFrom = Model.PriceFrom,
    PriceTo = Model.PriceTo,
    SortType = Model.SortType,
    SortDirection = Model.SortDirection,
    Page = Model.Page - 1
    })
}

<b>@Model.Page</b>

@if (Model.PagingModel.HasNextPage)
{
        @Html.ActionLink("Вперед >>> ", "Index", "Product", new ProductFilterModel
    {
      Name = Model.Name,
      BrandId = Model.BrandId,
      CategoryId = Model.CategoryId,
      PriceFrom = Model.PriceFrom,
      PriceTo = Model.PriceTo,
      SortType = Model.SortType,
      SortDirection = Model.SortDirection,
      Page = Model.Page + 1
    })

}

